* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    background-image: url('rUj3XZGdPVBxb8NaiaKnWQ.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

nav {
    background-color: transparent;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

li a {
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-size: 18px;
    padding: 0 15px;
    font-weight: bold;
}

li a:hover {
    color: rgb(253, 6, 6);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 50px auto; /* Center the section */
    color: #fff;
}

.text {
    flex: 1;
    max-width: 600px;
}

.image {
    flex: 0 0 600px; /* Ensures the image takes up 450px */
    padding-top: 20px;
}

.image img {
    width: 100%;
    height: auto;
}
