
body {
    background-image: url('white-trianglify-b79c7e1f.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: rgba(173, 216, 230, 0.8); 
    color: white;
    padding: 10px;
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
}


.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start; 
}


.navbar li {
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.navbar li:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}


h1 {
    color: white;
    background-color: rgba(128, 128, 128, 0.8); 
    padding: 20px;
    margin-top: 100px; 
    text-align: center;
}

p {
    color: white;
    background-color: rgba(173, 216, 230, 0.8); 
    padding: 20px;
    text-align: center;
}
